body {
  font-size: 14pt;
}

button {
  font-size: 14pt;
}

input {
  font-size: 14pt;
}

input[type=checkbox] {
  transform: scale(1.5);
}

select {
  font-size: 14pt;

}
.caution-icon {
  font-size: 30pt;

}